
    <div class="navPost">
        <div class="user">
          <img  [src]="imgPerfil" alt="user" />

          <div class="user-info">
            <p>lorem.imp</p>
          </div>
        </div>
    </div>

    <div class="post-image">
    <img [src]="imgPost" alt="rover" />
    </div>

    <div class="navOptions">
        
        <div class="iconos">
            <img class="icon" src="../../../assets/nav/like.png" alt="user" />
            <img class="icon" src="../../../assets/comentario.png" alt="user" />
            <img class="icon" src="../../../assets/nav/mensajes.png" alt="user" />
        </div>

       
    </div>

