<div class="container">
	<div class="child">
		<img class="foto-perfil" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0mFgwq1o_fN_d4rvG3bDEWjJx-hHMNpf1eBBkVBICNDgvFi87e49dveIQmxJtP6WPqIU&usqp=CAU" alt="imagen-perfil">
        <!-- <img class="icono-agregar" src="../../../assets//agregar-historia.png" alt="icono-agregar"> -->
        <p class="nombre-usuario">mromero33</p>
	</div>
    <div class="child">
        <div class="contorno">
            <img class="foto-perfil" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUQYGxjXKwW3uvi2XKr8vTeWK-vk3hBoFAshZkgmM0Ed410L39htHCymCBFNbC8wx4_iE&usqp=CAU" alt="imagen-perfil">
          </div>
        <p class="nombre-usuario">Lorem.inp</p>
	</div>
    <div class="child">
		<div class="contorno">
            <img class="foto-perfil" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfvvnBaimXVCsaPCuXBgL3wIOxD6STy9JAnzAkt6bArMkgVNobKH-t8fVUcOUVA3XW02A&usqp=CAU" alt="imagen-perfil">
          </div>
        <p class="nombre-usuario">Lorem.inp</p>
	</div>
    <div class="child">
		<img class="foto-perfil" src="https://media.tycsports.com/files/2022/06/14/440403/las-20-mejores-fotos-de-perfil-para-tu-cuenta-de-free-fire_w416.webp" alt="imagen-perfil">
        <p class="nombre-usuario">Lorem.inp</p>
	</div>
    <div class="child">
		<div class="contorno">
            <img class="foto-perfil" src="../../../assets//default-perfil.jpg" alt="imagen-perfil">
          </div>
        <p class="nombre-usuario">Lorem.inp</p>
	</div>
    <div class="child">
		<img class="foto-perfil" src="../../../assets//default-perfil.jpg" alt="imagen-perfil">
        <p class="nombre-usuario">Lorem.inp</p>
	</div>
    <div class="child">
		<img class="foto-perfil" src="../../../assets//default-perfil.jpg" alt="imagen-perfil">
        <p class="nombre-usuario">Lorem.inp</p>
	</div>
    <div class="child">
		<img class="foto-perfil" src="../../../assets//default-perfil.jpg" alt="imagen-perfil">
        <p class="nombre-usuario">Lorem.inp</p>
	</div>
	

</div>

